[2022-01-07 17:16] johnfoliot opened #583 "Issues / comments related to Clear Words - Part 5"
Stepping back and looking at this Guideline at a more holistic level, and a few additional questions arise:
- The current draft seems to suggest an exemption (or latitude) for "technical" documents. However, what of other types of formal documentation, including Terms of Service, legal disclaimers or conditions (banking/insurance industry), medical instructions or research, etc.?
- As currently be

[2022-01-07 20:59] lauracarlson opened #584 "Method: "Decorative Images" Section of the WCAG 3 vs WCAG 2.x "Pure Decoration""
In WCAG 2.x [pure decoration](https://www.w3.org/TR/WCAG21/#dfn-pure-decoration) is "serving only an aesthetic purpose, providing no information, and having no functionality". I don't know why we would [change it in WCAG 3](https://www.w3.org/WAI/GL/WCAG3/2020/methods/decorative-images/).

What research is this change based upon?

If the purpose of an image is purely aesthetic or if it is redundan

[2022-01-08 19:49] ericwbailey commented on #574
@alastc With the thread unlocked following my edits, I wish you had named me directly. I say this because of the named individual's behavior of on and offsite harassment led me to believe it could have been directed at him.

I am not questioning the need for an updated color contrast algorithm. I am questioning how we test that the algorithm that gets chosen is effective.

I would like to reiterat

[2022-01-10 23:42] bruce-usab commented on #584
Thank for pointing to that article!  I would note that @ericwbailey is active in our mutual GitHub space, so he might comment directly.

The article has appropriate caveats around the point that, sometimes, 'alt=<&quot;><&quot;>' can be the well-considered accessible choice.

[2022-01-11 01:56] ericwbailey commented on #584
Hi @lauracarlson, @bruce-usab. Thank you for mentioning me, and for inviting me to comment.

The main thing I'd hope would be communicated is the act of an abled content author making the determination of what constitutes decorative or not removes agency from the person utilizing assistive technology.

For example, I have encountered a situation where photos of amenities for luxury housing were co

[2022-01-11 02:58] fstrr commented on #584
At some point in the not-too-distant past (I noticed it in 2021), the HTML spec introduced the concept of [ancillary images](https://html.spec.whatwg.org/multipage/images.html#ancillary-images):

I've mentioned this in some of the WCAG 3 work I've been involved in as I think adopting this would be beneficial.

[2022-01-11 11:54] MakotoUeki commented on #584
@lauracarlson Thank you so much for your comment. I'm the Alt Text Sub group lead and the sub group is working on the draft document you provided a link.

Could you please tell me which part of the document "Method: Decorative Images"  you are commenting on?

What we did so far was just to copy existing W3C/WAI's materials and paste them into the WCAG 3's document template to show how existing SC

[2022-01-11 14:26] bruce-usab commented on #584
I agree that the 2.x definition for <q>pure decoration</q> sets I high bar.  I read @lauracarlson and @ericwbailey to say WCAG3 should retain that high bar (and I agree).

@MakotoUeki &mdash; I read @lauracarlson concern to be that <q>Decorative Images</q> is broader than <q>Pure Decoration</q> and that we should be careful not to conflate those two.  Is there a better title for the WCAG3 method?

[2022-01-11 15:01] MakotoUeki commented on #584
@bruce-usab Thank you for your comment.

I'd like to hear from Laura at first. But if that is the point, we will need to think about the proposed change to the name of the type "decorative". It came from one of 7 types introduced in the "[Web Accessibility Tutorials - Guidance on how to create websites that meet WCAG](https://www.w3.org/WAI/tutorials/images/decorative/)".

7 types of images are:
-

[2022-01-11 15:49] alastc commented on #574
Draft response:

<hr>

There are several strands to the contrast work, including:

- Updated formula / formulas.
- How to apply that to text, different types/size of text, and non-text things.
- Tools to support design & testing.

Myndex works on all these strands and sometimes it is hard for people not spending as much time on it to differentiate between them.

Anything that makes it to the candi

[2022-01-14 02:12] rachaelbradley commented on #457
Revised draft response:

Thank you for your ideas. The Silver Task Force agrees with you that we do not want to make the conformance too complicated. The group continues to vote down having multiple conformance models. While we work through the process of creating a conformance model and way of putting together a conformance claim, it will continue to start off more complicated than we want. As we

[2022-01-16 19:45] lauracarlson commented on #584
Hi @bruce-usab, @ericwbailey, @MakotoUeki, and all,

Bruce, Yes. I am concerned that "Decorative Images" is broader than "Pure Decoration" and that we should be careful not to conflate those two. If it is changed to "Decorative" or "Ancillary", that should be based on research. Do we have any data? Differences exist between purely decorative images (that need no text alternative) and "decorative"

[2022-01-17 02:36] MakotoUeki commented on #584
@lauracarlson Thanks for clarification.
That part came from the 3rd paragraph of "Decorative Images".
https://www.w3.org/WAI/tutorials/images/decorative/

We did copy the part and paste it to the Method documents. We didn't change anything. If this part is the issue, we should discuss it with the authors of this tutorial document. We can send our comments following the instructions at the bottom o

[2022-01-17 08:08] jake-abma commented on #584
@lauracarlson wrote:

Data is not always available or righteous and it will be up to the user, so will probably end up very subjective depending on what each user want.

As an example:

I've created an example page for Reflow some time ago:

https://www.w3.org/WAI/WCAG21/working-examples/css-fitting-images/

The images have an empty alt  `<img class="img-responsive" src="surf02.jpg" alt="">`

When

[2022-01-17 14:47] bruce-usab commented on #584
Fair enough, I [suggested an edit](https://github.com/w3c/wai-tutorials/pull/635).

I would note that <q>need no text alternative</q> is distinct from (what should be) the highly intentional act of providing a null alt attribute.  Missing alt attributes, in my experience, is a bigger problem than over use of null alt.

I agree null alt is overused.  It is probably a sampling bias, but I encounter

[2022-01-18 01:40] MakotoUeki commented on #584
@jake-abma

I agree with you on this point. Users are different and users' preferences are different. On the other hand, it depends on the author's intent to determine if it is "pure decoration" or not. The example you shared is the case. I'd say it is okay to provide text alternatives to "decorative images" and "pure decoration". But we must address the issues of "Missing alt attributes" and "ove

[2022-01-18 15:14] lauracarlson commented on #584
Hi @bruce-usab, @MakotoUeki, and all,

Bruce, that's a good start. Thank you. I suggest 3 more edits per the [WCAG 2 definition](https://www.w3.org/TR/WCAG21/#dfn-pure-decoration:).

1.  Change the text "or the image might be included to make the website more visually attractive" to "or the image is purely aesthetic and provides no information"
2.  Remove example #3 as it does provide information.

[2022-01-18 16:46] alastc commented on #380
The group approved the above response: https://www.w3.org/2022/01/18-ag-minutes.html#t05

[2022-01-18 16:46] #380 closed

[2022-01-18 16:59] alastc commented on #169
Suggested response:

<hr>

The group currently thinks that text-alternatives are a key requirement that justifies having it separate from more general accessible name, which applies in more areas than non-text content.

As WCAG 3 work progresses, we can later assess whether there is too much overlap between the concepts and we should re-structure the guideline.

In the meantime, the group does rec

[2022-01-18 17:07] alastc commented on #169
The group approved the response above: https://www.w3.org/2022/01/18-ag-minutes.html#t06

[2022-01-18 17:25] alastc commented on #257
Outcome from the AG meeting:

- Consider including an adjective.
- Consider separating the requirements for (automatable) "does it have alt text", and then is it useful alt text.

[2022-01-18 17:35] alastc commented on #457
Suggested response:

<hr>

Thank you for your ideas. The Silver Task Force agrees with you that we do not want to make the conformance too complicated.  We are closing this issue but are adding a label input-for-refinement to ensure the group considers your point as we move forward.

[2022-01-18 17:35] mbgower opened #585 "As a tactical approach, consider clearly dividing requirements in Silver between binary machine-determinable and qualitative criteria"
In response to an AGWG [issue](https://github.com/w3c/silver/issues/257) to change "text alternatives" to "meaningful text alternatives", I responded:

I ask the Silver group to consider and respond to a tactical approach of dividing requirements between those that are machine-determinable for pass/fail, and those that are qualitative and cannot be as easily expressed as "true" or "false".

There

[2022-01-18 17:40] alastc commented on #457
The group agreed the response above: https://www.w3.org/2022/01/18-ag-minutes.html#t06

[2022-01-18 17:40] #457 closed

[2022-01-20 20:29] rachaelbradley commented on #326
Draft Response: The [Requirements for WCAG 3.0](https://www.w3.org/TR/wcag-3.0-requirements/) include the design principle to  "Support the needs of a wide range of people with disabilities and recognize that people have individual and multiple needs." This is being done by capturing functional needs at [DRAFT Functional Needs](https://www.w3.org/WAI/GL/WCAG3/2020/functional-needs/).  This include

[2022-01-21 13:20] rachaelbradley commented on #227
Draft Reply: We have added a design principle in [PR 586](https://github.com/w3c/silver/pull/586/files) stating "Not reduce accessibility for people with one type of disability in order to improve accessibility for people with another type of disability."

[2022-01-21 14:20] mraccess77 commented on #227
In WCAG today some criteria already can impact users negatively depending on how they are implemented- so any implementation would almost certainly require settings/options (a mechanism) for adjustment to allow support for some while not causing harm to users with different disabilities.   So it may be important to also focus on how users find these settings and how prominent they are and how they

[2022-01-21 14:54] sdw32 commented on #326
Thanks for the reply, my top-level issue remains that right from the start, the scope of WCAG is implied to be limited to people with disabilities. The second statement 'recognise that people have individual and multiple needs' still does nothing to broaden the scope to the entire population. I would much prefer a statement of a design principle like  "Support the needs of the wide range of people

[2022-01-21 15:43] rachaelbradley commented on #484
Draft response:  Thank you for taking the time to review and respond to our initial draft. We agree that the approach taken in the first draft does not sufficiently balance these two requirements. We received suggestions on how to better approach this balance and are exploring those. We will keep your concerns in mind while we continue to explore ways to meet both these goals and will reach out fo

[2022-01-22 16:18] mraccess77 commented on #326
@chaals and all - I am not aware of any international regulations that claim people are disabled if the have to wear glasses to access content.  All regulations I am familiar indicate disability is defined including eye glasses.

Indicating that people who need glasses to see 20/20 are disabled minimizes the everyday challenges people with disabilities faces  I can't simply put on a pair of eye gl

[2022-01-23 16:37] Myndex commented on #574
# Mea Culpa
One difficult lesson from the last few years with this organization is that of recognizing my personal communication deficits. Failing to "read the room" might be one way to put it. Another though is that sometimes I misunderstand someone's communication, be it literal or subtextual. At the same time, I've come to understand that I am not presenting information in a beneficial or under

[2022-01-24 11:51] Myndex commented on #585
Where such divisions are made, it should be noted that future technology may change what can be automated. As an example, you mention al- text — whether or not it's there in the html is an easy, binary, automatable conformance point.

### Qualitiative
When it comes to the "quality" of the writing, while there are probably no tools today that are specifically for alt-text, there are today tools tha

[2022-01-24 13:50] Myndex commented on #584
Just some comments that are hopefully not too tangential.

From a design point of view, what does "pure decoration" actually mean? That term as stated seems to imply that decorative embellishments have no meeting, but at least in a classical design sense you never put something into a design without a purpose or without a reason, even if that reason is hard to articulate lexically.

<img alt="flou

[2022-01-24 16:10] bruce-usab commented on #584
I love those flourish examples @Myndex and I agree with @ericwbailey that "displaying an image is a highly intentional act".  We should expect just as much intentionality for every use of `alt=""`.  With regard to your two flourish examples, please ask a few people who use screen reading software as their default UI as to what they would recommend as the value for the alt attribute or Accessible N

[2022-01-24 16:59] mraccess77 commented on #584
Id' add that flourishes are often used as separators and so whether it needs an alternative may depends on whether there is some other semantic separator present.

[2022-01-24 17:08] patrickhlauke commented on #584
And I would contend that there are situations where visual flourishes etc. are intended to primarily convey a certain feel/mood, and that in those cases I'd posit that as long as the prose/text of the page has the same sort of tone and style, then that is an acceptable alternative in itself already as well...but here we start getting more into heavily subjective territory.

At the other extreme en

[2022-01-24 22:45] ericwbailey commented on #574
This is why I am so concerned.

Certain parts of the design community have locked onto the APCA as the new standard that can be used today, even though it is not signed off on for public use by Silver yet. It has gotten to the point where [it is getting productized by the community](https://www.figma.com/community/plugin/1016423882731978547).

The reason for the enthusiastic adoption is the design

[2022-01-25 02:25] Myndex commented on #584
Hi @bruce-usab

I've been trying to climb the learning curve of Voiceover, the screen reader on MacOS, as I'm having an increasingly difficult time with just basic reading — so far, all I can say is OMG this is frustrating! If I'm still atound by the time I'm done with the APCA project, I think I'm gonna need to start a screen reading project LOL...

It was a rhetorical question really... 😎

This

[2022-01-25 07:32] Myndex commented on #574
Hello @ericwbailey

I am concerned because I believe based on your statements that your concern results from some misunderstandings. I recognize that I myself may be to blame for some of these misunderstandings. Let's see if we can fix this, okay?

## Un-misunderstanding

Do you mean the design community that does not bother to use WCAG 2 contrast at all? That design community? The design communit

[2022-01-25 12:38] rachaelbradley commented on #429
Draft response: WCAG 2.0 currently addresses color blindness and WCAG 3.0 will as well. While we are still in the process of working out exactly how to include cognitive and learning disabilities such as dyslexia that are not in WCAG 2.0, our intention is to support them in some way.  Thank you for taking the time to review the first draft and provide your comment.

[2022-01-25 14:32] awkawk commented on #429
The phrasing "cognitive and learning disabilities such as dyslexia that are not in WCAG 2.0" is problematic. You can say that we are looking for ways to develop additional criteria to provide greater support for cognitive and learning disabilities, but as is this suggests that WCAG 2.0 does not provide any support for cognitive and learning disabilities, and this is both factually incorrect and su

[2022-01-25 15:21] rachaelbradley commented on #428
Draft response: WCAG 2.2 will continue to be maintained but not updated after WCAG 3.0 is made available. We expect they will continue side-by-side for a number of years before WCAG 2 is deprecated. This is what occurred during the transition from WCAG 1 and WCAC 2.

[2022-01-25 16:43] rachaelbradley opened #587 "Revise Creation Process to conduct research and studies"
This issue is the 2nd part of [Issue 227](https://github.com/w3c/silver/issues/227)

And under Creation Process:

Pro-actively conduct research and studies with a cross section of all users to validate the usefulness and effect of guidelines, methods, and practices. Recruiting a diverse range of people to include not only those the guideline is intended to help, but also a group recruited from all

[2022-01-25 17:17] rachaelbradley commented on #326
Final response: The Requirements for WCAG 3.0 include the design principle to "Support the needs of a wide range of people with disabilities and recognize that people have individual and multiple needs." This is being done by capturing functional needs at DRAFT Functional Needs. This includes color blindness and limited central vision as well as other visual limitations. If you note functional nee

[2022-01-25 17:18] #326 closed

[2022-01-25 20:51] rachaelbradley commented on #545
Can you clarify which definitions you are referring to?

[2022-01-25 22:19] bruce-usab commented on #574
Those were all very well written, thanks @Myndex for sharing!

[2022-01-25 22:44] bruce-usab commented on #584
Just a couple quick replies to OT trivia...

There is some history on that front, none of it well documented AFAIK.  That really would be a Sisyphean task.

What you describe is the default early behavior from IE.  It was nice at first, but then it quickly became a huge liability (and for years and years).  This IE misbehavior caused authors to use ALT for tool-tips, which made accessibility much

[2022-01-26 05:23] Myndex commented on #584
### Sounds brutal, I'm in...

That is super useful to know...

**Tangent:** is there a flag for when an image already has a descriptive caption that can instruct the alt text to refer to the caption so there is not duplicated material?

[2022-01-26 13:50] mraccess77 commented on #584
@bruce-usab I personally found that alt text tooltip allowed me to learn things about the image that I could not visually distinguish or that I would have missed.  Essentially it was like audio description for movies - little important nuances that people with low vision miss visually.

[2022-01-26 16:12] bruce-usab commented on #584
@mraccess77 &mdash; no doubt I am overstating the deleterious impact of IE visually exposing ALT.  I mean some ALT (inserted by a human author) is almost always better than missing ALT, even if the author was thinking tool-tip rather than descriptive identification.  And visually testing pages for ALT was pretty easy and reliable for a couple years.  Regardless, I think we are better off nowadays

[2022-01-26 16:27] mraccess77 commented on #584
@bruce-usab I understand alt was misused for captions - captions and alt text are different as I think we agree.  Accessible name and description are good - but still a user agent issue exists as these items are not displayed to users who do not use screen readers.   There remains a user agent challenge - although it can be solved by extensions it would be best addressed by the user agent or by be

[2022-01-26 18:34] PoornimaSubramanian opened #596 "WCAG 3.0 Draft Guideline Text Alternatives"
@bruce-usab , @michael-n-cooper , @shawna-slh , @rachaelbradley , @jspellman

[https://www.w3.org/TR/wcag-3.0/#text-alternatives]

**Currently showing as:**

About the Rating: For ‘Level 0’, the image type can be for ‘meaningful images’
Level 0: Less than 60% of all images have appropriate text alternatives OR there is a critical error in the process

**Suggestion:**

Level 0: Less than 60% of **m

[2022-01-27 03:32] PoornimaSubramanian opened #597 "WCAG 3.0 Draft Guideline Clear Words"
@bruce-usab , @michael-n-cooper , @shawna-slh , @rachaelbradley , @jspellman

https://www.w3.org/TR/wcag-3.0/#common-clear-words

**Currently it is showing as :**

**About the guideline:** This guideline is vague to understand its purpose

**Example provided:** In the example of Clear words how-to provided, it looks like most of the information are cut-short to satisfy this guideline which is not

[2022-01-27 03:40] PoornimaSubramanian opened #598 "WCAG 3.0 Draft Guideline Captions"

[2022-01-27 03:44] PoornimaSubramanian opened #599 "WCAG 3.0 Draft Guideline Heading Structure"
@bruce-usab , @michael-n-cooper , @shawna-slh , @rachaelbradley , @jspellman

https://www.w3.org/TR/wcag-3.0/#headings-organize-content

**Rating:**  25% or less of expected headings are present and describe the content contained in the
section OR there is a critical error in the process

One minor suggestion: 25% or less of expected headings are present and describe the **structure** contained in

[2022-01-27 13:17] rachaelbradley opened #588 "Assess the holistic cost of transition"
Discuss the holistic cost of the new conformance model. Do we think the proposed model will increase the level of effort of accessibility testing such that it would be a barrrier to adoption? See meeting minutes https://www.w3.org/2021/11/23-ag-minutes.html#item04  and #369

[2022-01-27 14:39] rachaelbradley commented on #506
@scottkellum  We are organizing the upcoming work to migrate WCAG 2.x to WCAG 3. This is going to take a while but I am reassinging this comment to the milestone related to 1.4.4 to ensure it is considered when that part is worked on. Thank you for taking the time to file a comment and for your patience while we  get to this portion of WCAG 3.

[2022-01-27 15:29] rachaelbradley commented on #504
draft response: Thank you for your comment. We will take this into account when we request feedback on our next wide review.

[2022-01-28 08:16] SigbjornR opened #590 "Captions"
Since open captioning appears burnt in a video, this kind of captioning can be more challenging than closed captioning for some groups of people. These challenges do for example apply to people with a restricted language, such as immigrants and people with cognitive disabilities. For these groups, closed captioning will be better, as it makes it possible to easily translate. Adding new languages i

[2022-01-28 08:18] SigbjornR opened #591 "Clear wording"
We would like to applaud the new focus on clear wording. By introducing this, WCAG will cover a wider selection of needs than today’s versions.

It can however be challenging to (automatically) test clear wording and secure legal certainty.

EU’s Web Accessibility Directive refers indirectly to WCAG and requires a high number of tests. To be able to comply with this, it must be possible to test au

[2022-01-28 08:20] SigbjornR opened #592 "Incentives for AAA SC"
Regarding this paragraph:
_“We are looking for feedback on using scoring as a way to encourage adoption of AAA success criteria without failures. Do you like the inclusion of broader needs for structured content than providing semantics for screenreader users? Do you think this should be a separate guideline, or do you like having multiple, testable outcomes supporting the guideline? Do you like t

[2022-01-28 08:20] SigbjornR opened #593 "Alternative terms"
We agree that the terms “atomic” and “holistic” testing must be replaced with something more intuitive and in accordance with the principles of clear wording. After reading section 4.1’s description of the two types of testing, the difference is still not 100 % clear to us. The terms do not make the understanding easier. Hence, we welcome more appropriate terms.

Based on our understanding, atomic

[2022-01-28 08:21] SigbjornR opened #594 "Tests and techniques"
We will once again applaud WCAG 3.0’s initiative on changing the approach on scoring and evaluation of conformance through different levels of conformance. It seems to be more nuanced and suitable for giving acknowledgement for good work amongst those who do not fully comply.

It is said in the draft that “Each method contains tests and techniques for satisfying the outcome”. “Technique” is define

[2022-01-28 14:58] sdw32 commented on #326
Hi, I have read through the various responses, I don't consider this issue to be closed. From my perspective, I agree that attempting to broaden the definition of disability to include temporary/situational difficulties is derogatory to those with actual disabilities. However, the current statement remains focused on disability, and continues to reinforce the unhelpful position that accessible web

[2022-01-29 23:22] rachaelbradley commented on #590
Thank you for your comment. We have assigned it to the milestone where we will address captions.  You may see discussion in the comment thread and we may ask for additional information as we work on it. We will mark the official response when we are finished and close the issue.

[2022-01-29 23:22] rachaelbradley commented on #591
Thank you for your comment. We have assigned it to the milestone where we will address clear words. You may see discussion in the comment thread and we may ask for additional information as we work on it. We will mark the official response when we are finished and close the issue.

[2022-01-29 23:23] rachaelbradley commented on #592
Thank you for your comment. We have assigned it to the milestone where we will address structured content. You may see discussion in the comment thread and we may ask for additional information as we work on it. We will mark the official response when we are finished and close the issue.

[2022-01-29 23:24] rachaelbradley commented on #593
Thank you for your comment. We have assigned it to the milestone where we will address terminology. You may see discussion in the comment thread and we may ask for additional information as we work on it. We will mark the official response when we are finished and close the issue.

[2022-01-29 23:25] rachaelbradley commented on #594
Thank you for your comment. We have assigned it to the milestone where we will address test types. You may see discussion in the comment thread and we may ask for additional information as we work on it. We will mark the official response when we are finished and close the issue.

[2022-01-30 00:34] rachaelbradley commented on #467
Draft response: We have reorganized the draft and moved most of the introductory information to a separate explainer document similar to your suggested "guide to WCAG". The Guidelines is now section 3 and section 2 is very short. Each section also has a plain language version. We will continue to refine and update WCAG and associated documents and welcome your suggestions on future versions.

[2022-01-30 00:54] rachaelbradley opened #595 "IBM Comments on WAG 3.0 Draft - Critical errors and revised apporach."
• Blog question: We would like constructive feedback on the testing approach, and examples of why you would or would not implement it in your organization.

Response: Without automated ways to identify, count and test instances of content applicable to an outcome and aggregate results for each test, it will be difficult to accurately score compliance to each objective in a repeatable way – especia

[2022-01-30 00:54] rachaelbradley commented on #497
Broke out answer regarding critical errors to #595

[2022-01-30 04:35] Myndex commented on #576
Hi Rachael @rachaelbradley

This is a principal part of the readability research I am conducting. Glyph design is particularly important—I created a very brief pdf guideline, which is mostly visual examples and comparisons:

[**Evaluating Fonts For Accessibility D.pdf**](https://github.com/w3c/silver/files/7963713/EvaluatingFontsForAccessibilityD.pdf)

Also I know the Readability Group/BBC was doi

[2022-01-30 11:09] patrickhlauke commented on #576
Just putting a pin on this in terms of testing. If CSS currently isn't expressive enough for authors to actually define things / for automated tools to query this from a rendered page, and there is literally an unlimited choice of fonts that authors can use, would the expectation for testers be to literally run the numbers against all their font choices (complicated by the fact that user agents/op

[2022-01-30 16:47] chaals commented on #576
Where the user agent is supplying a font, the right place to put the requirement would be on the user agent to offer accessible fonts.

There has been research into this for quite a long time, so providing information on some fonts that *are* more accessible (to whom, when?) should not be beyond us.

And yes, if you want to choose fonts, and to produce content that is as accessible as possible, lo

[2022-01-30 17:03] patrickhlauke commented on #576
and if they don't, a site fails when displayed in that user agent/operating system/whatever?

providing information/advice/best practice? sure. making mandatory requirements based on that...that's where it'll get "interesting"

now flip this around though to somebody doing auditing/testing ... and it'll require analysing the fonts (and the user agents/environments where the site will be viewed by

[2022-02-01 01:52] ericwbailey commented on #574
This line of conversation is not the scope of my request. I am concerned about the APCA efficacy, not the design community's use of the current WCAG color contrast algorithm.

I do, however, agree that an algorithm that is more permissive in its color offerings will help with adoption. Again, this is why I am so concerned that the Silver WG can update and promote its updated color contrast algorit

[2022-02-01 16:27] alastc commented on #484
The group approved the response above: https://www.w3.org/2022/02/01-ag-minutes.html#t05

[2022-02-01 16:42] alastc commented on #41
Partly addressed by #589

[2022-02-04 22:54] maryjom opened #600 "WCAG 3.0 draft review: Response to Introduction question on what more to move to the explainer (if anything)"
IBM Response to the first requested input posed in **Section 1. Introduction** of the 7 Dec. 2021 draft.

### Question 1
Is there more (or less) introductory content that should be moved to the Explainer document?

**Answer:** I think that the Appendix section B Differences from WCAG 2 and its subsections B.1 and B.2 could be moved to the explainer. Note: if the language didn't change as completel

[2022-02-04 22:54] maryjom opened #601 "WCAG 3.0 Draft review: Functional categories"
There are a few thoughts I had on functional categories:

- The short phrases to describe the functional category are sometimes not self-explanatory (for example, Sensory intersections or Cognitive & sensory intersections).
- Functional categories are repeated in the main WCAG 3.0 document as well as in the Outcomes page for each guideline.

As mentioned in [Issue 600](https://github.com/w3c/silve

[2022-02-07 22:36] maryjom opened #602 "WCAG 3 Draft review: Conformance - How well will it work for our organization"
### Questions 2 and 4 in the Introduction
- How well will this proposal of conformance work in your type of organization and why?
- How will the change to a different conformance model than WCAG 2 affect your organization? How readily would you see moving from WCAG 2 to WCAG 3 when it is complete?

**Answer:** I am happy to see that WCAG 3 is working to incorporate methods to allow for flexibility

[2022-02-07 23:05] maryjom opened #603 "WCAG 3.0 Review: Tradeoffs using flexible conformance"
### Introduction question 3
What do you see as the possible tradeoffs in using a flexible conformance approach? Would you want to see multiple conformance models?
- **Positives:**
    - Flexible conformance could help teams focus on the most important workflows for full conformance.
    - It recognizes that 100% conformance for large or complex websites or web applications of 100% of content is di

[2022-02-08 14:35] maryjom opened #604 "WCAG 3 Draft: Outcome statements different in main doc vs. outcomes pages"
The outcome sentences aren’t exactly the same in the main WCAG 3 document and in the outcomes pages. There are subtle differences (mainly the verb) that seems intentional, but could potentially seem like they are out of synch.

[2022-02-08 14:57] maryjom opened #606 "WCAG 3 Draft: Appendix A is empty"
Appendix A. Guidelines development methodology is empty. I’m not entirely sure what is intended here, but from the title, it may be something better covered in the Explainer document.

[2022-02-08 22:45] maryjom opened #607 "WCAG 3 Draft Review: Response to feedback requested in 6.1 Conformance Levels"
The question posed in Section 6.1 Conformance Levels was:

**Answer:** A flexible conformance model will be beneficial to acknowledge the reality of quickly moving and changing technology and help teams working on large and complex websites or web-based applications focus on designing and developing for accessibility for critical workflows first. It could help them hone in on making them not just

[2022-02-09 14:46] maryjom opened #608 "WCAG 3 Draft Review: Thoughts on WCAG 3 Explainer question"
To start, I wanted to say that moving the explanatory content out of the WCAG 3.0 standard is quite helpful. Then the structure of the standard is not combined in with the requirements, which for me removed some confusion.

### Question posed

Answer: It is difficult to see what has changed in the explainer content other than moving it out of the FPWD. IMO, when reviewing drafts, it really helps t

[2022-02-09 14:56] maryjom opened #609 "WCAG 3 Draft Review: WCAG 3 Explainer editorial comments"
For ease of entry, I'm putting all editorial comments on the WCAG 3 Explainer in one issue.

- Section 1. Introduction - Use the same terms throughout for WCAG. Document currently has “WCAG3”, “WCAG 3” and “WCAG 3.0”. I would prefer that one of those is chosen and used throughout. Same for “WCAG 2.0” or “WCAG 2”. I realize the WCAG 2 is complicated by using “WCAG 2.X” or instead “WCAG 2” – just be

[2022-02-14 15:37] maryjom opened #610 "WCAG 3 Review: Terminology, structure, and style - suggested improvements"
Related to the question posed in the introduction:

**Answer:** As for usability, the terminology is still tripping our team up. We also have thoughts on organization/structuring that you might consider.

- How-to vs. method: How-to and method are difficult to parse what is the difference. It's so different from WCAG 2.x and the structure of finding guidance that When “How-to” is looked up in the

[2022-02-14 15:45] maryjom opened #611 "WCAG 3.0 Review: WCAG 3.0 scope of technologies"
It seems that the scope of the standard conflicts between different sections. Maybe I'm misreading. I realize there's some push and pull to either keep WCAG 3 focused on web-only vs. WCAG's known use and application outside of web technologies. The abstract’s stated scope of the standard says “These guidelines address accessibility of web content on desktops, laptops, tablets, mobile devices…” How

[2022-02-14 16:11] maryjom opened #612 "WCAG 3.0 Review: Feedback on question posed in Section 2 Normative requirements"
### Section 2 Normative requirements

**Question:** Outcomes are normative. The working group is looking for feedback on whether the following should be normative or informative: guidelines, methods, critical errors, and outcome ratings.

**Answer:**
- Guidelines - Informative. These are simply logical collections or ways of organizing the outcomes. They don’t provide the necessary details or exce

[2022-02-18 16:13] maryjom opened #615 "WCAG 3 Draft Review: Section 3.3 Captions feedback"
Two questions were asked in Section 3.3 Captions:

Question 1:

**Answer 1:**
This may be more of a general scoring thought, but it isn't clear in the main document how you arrive at the numeric scores in the 2nd column description of each rating level. Do you add up the number of videos that have an error divided by the number of videos you encounter in a process? How wide a scope is a process if

[2022-03-01 17:39] eethan4 opened #616 "Car"

[2022-03-01 18:06] #616 closed

[2022-03-03 13:54] davidberman commented on #217
I am concerned about both the Anglocentrism (and colorcentrism?) challenges of using the actual terms "Gold", "Silver", and "Bronze" for the levels. Furthermore I’m concerned about unnecessary burden within our industry regarding how we’ll repeatedly express these constructions: I am imagining that professionals will immediately shorten the three tiers to G, S, and B in their documents (in English

[2022-03-03 15:54] patrickhlauke commented on #217
i'd have thought that that categorisation, common throughout international/global sporting events, would be fairly universal

[2022-03-05 02:59] rachaelbradley commented on #223
Proposed response: Thank you for your comment. The group is exploring considering all types of tests true false as you have proposed.

[2022-03-11 15:56] jspellman commented on #311
Discussed in the SIlver meeting of 11 March 2022. RESOLUTION:  311 has some support in the group and needs more development, and will be assigned to "Outcome and Guidelines"

[2022-03-24 20:58] Myndex commented on #574
@ericwbailey

Hi Eric,

I have provided all the links and resources I thought would be needed to explain the current status. This includes some articles and white papers written in plain language in the spirit of Feynman, and previously linked above.

As that hasn’t worked, I will try and encapsulate them as succinctly as possible here.

**EFFICACY:** This term would be suitable for a drug undergo

[2022-03-25 13:22] jspellman commented on #307
Draft response: We discussed your idea in our [meeting of 18 March 2022](https://www.w3.org/2022/03/18-silver-minutes.html#t01) and agreed with your ideas, but we thought that we had it covered in Design Principles 4, 5, and 10.  It is possible you overlooked it since there are a lot of Design Principles and your would need to see it in total.  We discussed rewriting the design principle, but deci

[2022-03-28 20:10] melissaegg opened #618 "WCAG 3 Draft Review: Thoughts on Design Principles"
I'm writing to respond to this question posted on the editor's blog: Are there additional Design Principles and Requirements that should be included in the WCAG 3 project?

As well as these goals put forth for WCAG 3:

Goals for WCAG 3 include:
- be easier to understand
- cover more user needs, including more needs of people with cognitive disabilities

Please consider including design principles

[2022-03-31 22:11] jspellman commented on #295
This was not as simple as it might first appear.  We use ordered and unordered lists in different ways, so we could not convert all the unordered to ordered or vice versa without changing meaning.  However, I was able to make the punctuation consistent within each type. The unordered lists are the continuation of the prior sentence with lower case start, comma separated except for the next to last

[2022-03-31 22:18] jspellman commented on #292
While the word "guidelines" is plural, the document is singular.  I mess it up all the time unless I am focusing very hard on using the singular version.  The [EO manual of style document wants it singular](https://www.w3.org/WAI/EO/wiki/Style#Referring_to_xxAG_.28WCAG_2.3B_singular.29).  But regardless, it needs to be fixed because it is mixed.

[2022-03-31 22:31] jspellman commented on #290
PR #619

[2022-03-31 22:32] jspellman commented on #292
PR #619

[2022-03-31 22:32] jspellman commented on #293
PR #619.  Also fixed the first use of WCAG 3.0 in the Abstract

[2022-03-31 22:33] jspellman commented on #295
PR #619

[2022-03-31 22:33] jspellman commented on #296
PR #619

[2022-03-31 22:34] jspellman commented on #298
PR #619

[2022-03-31 22:34] jspellman commented on #299
PR #619

[2022-03-31 22:34] jspellman commented on #300
PR #619

[2022-04-02 11:19] yatil commented on #588
Having worked as a solo accessibility consultant and as part of small accessibility companies, the amount of tracking and accounting for conformance is probably unsustainable for most of the situations I have worked with. Counting the number of conforming vs. nonconforming images, for example, puts a burden on us. There is little use for a client to know that 80% or 90% of the images conform to th

[2022-04-04 16:29] bruce-usab commented on #588
@yatil &mdash; as you describe, yes, that comports with my understanding of the expectations for Silver and Gold.  Much is still to be sorted out, but your reply mentioned holistic tests needed to meet Silver or Gold, and I believe we are thinking along the same lines.  Your earlier observation that counting the number of conforming vs. nonconforming images as burdensome, while an absolutely legit

[2022-04-10 20:43] WILLIAMJOESPHBAUGHMANJR opened #623 "Need"

[2022-04-10 20:51] #623 closed

[2022-04-11 08:36] lseeman commented on #618
Hi

Have you seen the work of COGA (the cognitive accessibility task fource?
Such as [Making Content Usable for People with Cognitive and Learning disabilities - W3C](https://www.w3.org/TR/coga-usable/)? Also see our wiki at https://www.w3.org/WAI/GL/task-forces/coga/wiki/Main_Page

COGA is now working on mental health. Be In Touch if you would like to be involved. I can let you know how to join t

[2022-04-17 03:38] Tatwood99 commented on #599
what year was this

[2022-04-18 11:58] melissaegg commented on #618
@lseeman I think this is why my friend told me to get in touch! I have not seen this before though - terrific. I would like to learn more about being involved please. Thank you!

[2022-04-22 23:09] Seirdy opened #625 "Too much contrast: halation, overstimulation, and the APCA"
An APCA-based color contrast guideline looks like a great improvement over existing guidelines. However, sufficient contrast alone does not guarantee accessible colors. I worry that the APCA's recommendations for dark themes may incentivize the adoption of palettes with different accessibility issues.

Pure white-on-black palettes can cause halation. Human eyes adjust to average brightness; lighte

[2022-04-23 06:49] Myndex commented on #370
Hi @melaniephilipp  I want to re-address this, as it has come to light that there are misunderstandings floating around regarding the process and background related to APCA, the candidate contrast method for WCAG 3.

There is no basis for this comment. APCA has been the subject of a multi-year research program which began in April of 2019, and further research is being conducted.

## _APCA is root

[2022-04-24 00:35] Myndex commented on #625
HI Rohan @Seirdy

Thank you for commenting.

First, let me mention that the latest APCA guidelines have not migrated into WCAG 3 as yet. APCA has its own repo and discussion area, which you are free to post in at https://github.com/Myndex/SAPC-APCA/discussions

Also, the most _current_ guidelines are usually listed on the APCA demo tool at https://www.myndex.com/APCA/

Under the current APCA guide

[2022-04-27 19:53] davidberman commented on #217
Thanks for weighing in Patrick; while I agree that the international sport's embracing of the Olympic cliche is universally recognized. However, we are trying to be the best. Relying on colors is not our a11y best... we're almost encouraging people to use non-text indicators in reports. Creating something that won't be instantly recognizable/understandable will be best. We are not giving out medal

[2022-04-27 20:28] mbgower commented on #217
At Tuesday's call, the working group had a resolution to remove ratings and scoring in the next charter. When/if that scoring returns in a couple of years, these comments can be brought to consideration again, but for now, I think this issue can be deferred and I have added a label to that effect.

[2022-05-09 18:28] jspellman commented on #278
We have deleted the prior scoring proposal

[2022-05-09 18:29] rachaelbradley commented on #422
#627 includes this issue.

[2022-05-09 18:32] rachaelbradley commented on #425
@JaninaSajka This answer needs to be slightly revisited now that we are shifting approaches.

[2022-05-09 18:34] cwadamsoforacle commented on #387
Issue 387 and 388 are duplicates.  Closing issue 387, as the proposed response is the same in both.

[2022-05-09 18:37] cwadamsoforacle commented on #388
Based on comments from the FPWD we have decided to explore alternate approaches to testing and scoring. We appreciate your feedback and are closing this issue based on the changes to approach.

[2022-05-09 18:37] #388 closed

[2022-05-09 18:37] rachaelbradley commented on #429
@awkawk Thank you for the review and suggested revision. I had intended this differently and can see how the way you read it could occur. Does this work?

New DRAFT response: WCAG 2.0 currently addresses color blindness and WCAG 3.0 will as well. While we are still looking for ways to develop additional criteria to provide greater support for cognitive and learning disabilities, our intention is t

[2022-05-09 18:50] awkawk commented on #429
Since the question was whether dyslexia and color blindness are supported, I think that you can end the second to last sentence with "our intention is to support them." (omitting "in some way" which is not needed).

[2022-05-09 18:52] rachaelbradley commented on #447
#627 addresses this issue.

[2022-05-09 18:52] rachaelbradley commented on #464
#627 addresses this issue.

[2022-05-15 20:30] Myndex commented on #625
HI Rohan @Seirdy

Following up, again if I can ask, can you tell me which APCA tools and lookup tables you are using or referring to in the OP please?  Either here, or at the [APCA repo](https://github.com/Myndex/SAPC-APCA/discussions) so it can be tracked?

The current _most correct release candidate_ version is posted on the APCA demo tool at [www.myndex.com/APCA/](https://www.myndex.com/APCA/ )

[2022-05-16 00:50] Seirdy commented on #625
I was misinformed; I was using the one built into Chromium's DevTools, which
doesn't flag excessive contrast. I've since used the online version to much
better results. Great work!

I do think that it's worth remembering that yellow is a "harsh" color, and can
cause overstimulation if it isn't de-saturated. It doesn't help that it's
associated with warnings and errors. Blue in dark themes needs to

[2022-05-16 00:55] Seirdy commented on #625
In a nutshell: I think the APCA does a good job flagging low/high contrast, but in isolation this could incentivise autism-unfriendly over-saturated yellows in dark backgrounds. Companion documentation describing how "contrast isn't all their is to accessible colors" or a revision to APCA could work.

I filed the issue here, since I think that explicit guidance on autism- and overstimulation-frien

[2022-05-17 15:20] slauriat commented on #290
Thank you for comment! We've incorporated changes into pull request #619 to address.

[2022-05-17 15:21] slauriat commented on #293
Thank you for comment! We've incorporated changes into pull request #619 to address.

[2022-05-17 15:21] slauriat commented on #295
Thank you for comment! We've incorporated changes into pull request #619 to address.

[2022-05-17 15:21] slauriat commented on #296
Thank you for comment! We've incorporated changes into pull request #619 to address.

[2022-05-17 15:22] slauriat commented on #298
Thank you for comment! We've incorporated changes into pull request #619 to address.

[2022-05-17 15:22] slauriat commented on #299
Thank you for comment! We've incorporated changes into pull request #619 to address.

[2022-05-17 15:22] slauriat commented on #300
Thank you for comment! We've incorporated changes into pull request #619 to address.

[2022-05-17 15:23] jspellman commented on #427
Draft Response: We are rewording based on your comment.  We will change the Requirement 4.5 Readibility to say: "The core guidelines are understandable by a non-technical audience. Text and presentation are usable and understandable through the use of plain language, structure, and design. They link to instruction videos, illustrations and how-to where available. Creation of new videos and illustr

[2022-05-17 15:26] jspellman commented on #451
Draft Response: We have received similar requests for an automated test level.  There are some complex issues associated with this, including the problems of reducing the accessibility at that level.  We intend to make WCAG3 testing more granular to support automated testing.  We are going to address this issue when we have a more detailed conversation on Conformance.

[2022-05-17 15:38] jspellman commented on #466
Draft Response: We have changed the Requirement for Motivation to remove a reference to a scoring system: "The Guidelines motivate organizations to go beyond minimal accessibility requirements by structuring WCAG 3 to encourage organizations which demonstrate a greater effort to improve accessibility."

[2022-05-18 16:45] Myndex commented on #625
Hi Rohan @Seirdy thank you for the additional information.

Indeed, the early beta versions in Chrome and Edge are not at the latest version of APCA. The latest, and canonical version for the W3 licensed version is the npm published package, ` npm i apca-w3 `

Thank you, and let me mention a few of the other AGWG members involved, Bruce Bailey, Chris Loiselle, Alastair Campbell, Chuck Adams, Cybel

[2022-05-19 14:45] ChrisLoiselle commented on #464
We are supportive of closing this issue and we will provide comments on proposed solutions in the next round of proposals. Thank you, Chris (Oracle).

[2022-05-20 10:08] Myndex commented on #272
I believe there is a fairly massive misunderstanding regarding the nature of peer review, and apparently I am not capable of describing the process & status in a post in a way that is understandable. I.e., I'm not getting the facts across.

### The underlying science that APCA guidelines reference is all well established, peer reviewed, scientific consensus.

In an effort to clarify, I've created

[2022-05-20 10:09] Myndex commented on #574
I believe there is a fairly massive misunderstanding regarding the nature of peer review, and apparently I am not capable of describing the process & status in a post in a way that is understandable. I.e., I'm not getting the facts across.

### The underlying science that APCA guidelines reference is all well established, peer reviewed, scientific consensus.

In an effort to clarify, I've created

[2022-05-24 15:43] rachaelbradley opened #631 "Rework plain language section of testing section (editor's draft)"
Basic Checks: Testers will do simple tests. Testers' opinions or judgements are not part of these tests at all.
Basic Evaluations: Testers will do simple tests and they will use opinions or judgements. But, most testers will agree most of the time.
Conditional Checks: Different sites or parts of sites will be tested with different groups of tests. First, testers will decide which group of tests is

[2022-05-24 16:08] rachaelbradley commented on #618
Proposed draft response: The requirements document currently includes criteria on [broad disability support](https://w3c.github.io/silver/requirements/#broad-disability-support). Part of that goal is to better support people with cognitive and learning disabilities. The best way to incorporate more guidance in that area is to work with the COGA task force or community group. Do you have the inform

[2022-05-24 16:25] rachaelbradley commented on #273
The term is no longer used and the glossary term should be removed.

[2022-05-24 17:05] melissaegg commented on #618
@rachaelbradley yes, I can see people I can email when I have space to contribute! thank you all for putting this on my radar.

[2022-05-25 15:03] ericwbailey commented on #574
Again, I am raising the issue here and not on your repositories because I want independent verification that the APCA does what it claims to do.

The reason I ask is because it will affect all visible content on the internet in an international, legally binding way.

This issue arose from my perception of the work thus far, as well as the behavior of its author.

To put it plainly:

- The author i

[2022-05-25 15:34] alastc commented on #574
There is nothing new since the [last time I commented](https://github.com/w3c/silver/issues/574), there will be independent research and there is plenty to do before any WCAG 3 guideline is ready to use in practice.

[2022-06-02 11:07] jspellman opened #633 "Improving equity between different disabilities"
Part of the Silver Research project of 2017-18 were interviews on Conformance with a small number of [thought leaders from different aspects of accessibility industry](https://docs.google.com/document/d/1ZD8T1XgcZJAlV7VketWAx8f3Doad05jU5lpVf7wuIW0/edit#heading=h.9i2nf5iv1l3n).  They were promised anonymity to encourage free comments.  They were given a standard list of questions.  They reached int

[2022-06-05 12:17] svgeesus commented on #335
In color science, luminance is indicated by Y ( the Y in CIE XYZ) while perceptual lightness is typically indicated by L or L<sup>*</sup> (the L in CIE Lab, OKLab, CIE Luv, and so on). The fact that WCAG 2.x used L for Luminance, which perhaps seemed easier to remember at the time, now makes it more complex when WCAG 3.x discusses both Luminance and Lightness.

Anyway, just to point out that I fou

[2022-06-05 12:18] svgeesus commented on #335
Should the title of this issue be altered to reflect discussion, or the issue closed?

[2022-06-05 13:05] svgeesus opened #634 "Where do the viewing conditions for sRGB in the WCAG techniques page come from?"
(I hope this is the right repo for this comment. If not, please direct me to the correct one).

This is a request for clarification.

The [Visual contrast of text](https://www.w3.org/WAI/GL/WCAG3/2022/how-tos/visual-contrast-of-text/#develop-button) page states, on the develop tab:

I certainly approve of specifying the viewing environment for testing, but would like to understand where these guid

[2022-06-06 12:53] sdw32 commented on #335
The issue can be closed. Regarding my original question in the title, once it's clear that it's an index that represents the Perceived Lightness Contrast, this would obviously have no units, it's just an index. I had originally made a strong case that the index should go between 0 and 100, to match the typical range for other indexes. However, @Myndex made a strong counter argument that the curren

[2022-06-06 20:21] Myndex commented on #634
Hi Chris, @svgeesus  the most current iteration of the proposed standardized viewing environment is at the main SAPC-APCA repo, in the documentation folder:

https://github.com/Myndex/SAPC-APCA/blob/master/documentation/StandardObserverModel.md

And also, I consider all of thie preliminary, as a starting poiint for further discussion and research. The current listted specifications are based on av

[2022-06-08 14:45] #335 closed

[2022-06-10 07:44] Myndex commented on #576
To add, here's a link to a post I made in the CSS WG regarding accessible font categories and fallbacks, etc. There are also posts in the thread by others that are useful here.

### [_Generic Font Fallbacks for Accessibility and More_](https://github.com/w3c/csswg-drafts/issues/4910#issuecomment-930743523)

[2022-06-14 13:51] svgeesus opened #640 "Non-normative, passing mention of APCA"
On [https://www.w3.org/WAI/GL/WCAG3/2022/how-tos/visual-contrast-of-text/](https://www.w3.org/WAI/GL/WCAG3/2022/how-tos/visual-contrast-of-text/), on the "Get Started" tab, it currently says:

The phrase "is aided" gives the impression of an optional item; perhaps one choice among many for predicting a contrast value.

If there are other options available, which WCAG considers equivalent, please l

[2022-06-14 19:22] bruce-usab commented on #640
@Myndex &ndash; do you think the How tab could/should be the algorithm used by APCA?  If not, please suggest prose for the How tab that is more generic, but still strong enough to push the reader beyond 2.x metrics.

[2022-06-14 23:38] Myndex commented on #640
Thank you @bruce-usab — what I was thinking was to update the "get started tab" with a link to the resources tab, and put pseudocode or basic JS in the resources tab.

I'm assuming this should be added to the existing pull request...

[2022-06-15 16:10] svgeesus commented on #640
Thanks @Myndex that wording looks much better.

[2022-06-15 16:38] Myndex commented on #640
No problem @svgeesus thank you for bringing it to my attention.

[2022-06-18 10:47] svgeesus commented on #640
@bruce-usab so @Myndex has answered all my questions on [this pull request](https://github.com/w3c/silver/pull/630) to my satisfaction and thus I would like to see it merged.

Do you have any outstanding comments? I saw you wrote [these edits all look fine to me](https://github.com/w3c/silver/pull/630#pullrequestreview-1006577207).

@michael-n-cooper  what is the policy here, are edits merged sole

[2022-06-20 17:01] svgeesus opened #645 "APCA constants - consistent naming"
(I would raise an issue on the constants in WCAG 3, but they haven't been added yet until https://github.com/w3c/silver/pull/570 is merged)

## The problem

The [_Current APCA Constants ( 0.0.98G - W3 last changed Feb 15, 2021 )_](https://github.com/Myndex/apca-w3#current-apca-constants--0098g---w3-last-changed-feb-15-2021-) lists constants, but gives no equations.

The [_APCA Base Math (sRGB)_](h

[2022-06-21 15:55] shawnthompson opened #646 "Use-cases section 404"
The [Use Cases for WCAG 3.0 Conformance](https://w3c.github.io/silver/use-cases/) is giving a 404.

Could it be because of the [auto-publish.yml](https://github.com/w3c/silver/blob/main/.github/workflows/auto-publish.yml) action is missing it in the [matrix](https://github.com/w3c/silver/blob/main/.github/workflows/auto-publish.yml#L14) section?

[2022-06-21 20:15] bruce-usab commented on #640
I do not have any outstanding comments.  I appreciate the ping!

I also would like to see the edits merged.

[2022-06-23 11:22] Myndex commented on #645
If I understand it, just the consistency between the code and the LaTeX svg? I probably should just lose the LaTeX as it's probably more confusing than helpful.

The constants in the LaTeX are intentionally different, as it originated at a time when the code was changing rapidly including variable names etc. The LaTeX does not really serve a purpose anymore as I think of it. It would probably be b

[2022-06-23 15:04] kepstin commented on #266
The [W3 Software and Document Notice and License](https://www.w3.org/Consortium/Legal/2015/copyright-software-and-document) states that in addition to the license text there, you must also include:

- Any pre-existing intellectual property disclaimers, notices, or terms and conditions.

Can you please clarify what, if any, pre-existing intellectual property disclaimers, notices, or terms and condi

[2022-06-28 11:52] svgeesus commented on #645
As long as the equations are clearly documented such that they can be independently implemented.

[2022-07-09 07:29] Myndex commented on #587
Hi Rachael,

Just to mention, related to this subject is the potential need for setting up some form of an **institutional review board** to provide at least basic oversight of studies. While I don't think that the kinds of studies envisioned here would *require* registration at clinicalTrials.gov, many journals do require that human studies, even observational (non-intervention), must register at

[2022-07-11 00:09] 10g1k opened #647 "Audio contrast for clarity"
Good day ladies and gentlemen.

Much work has been conducted relating to visual contrast.  I suggest it may be worth adding contrast guidelines for audio content.  Some folks (myself among them) have difficulty separating sounds sources.  For example, if there is a group of people, and Person A is talking, the sound is clearly discernible; but if Person B starts talking, the sounds merely combine

[2022-07-11 00:10] 10g1k commented on #647
Of course this could be extended for things such as movement and animations.  Those not in focus are reduced.

[2022-07-11 16:30] svgeesus opened #648 "APCA trademark"
I notice that [the APCA W3 README](https://github.com/Myndex/apca-w3#readme) was [changed on 25 April 2022](https://github.com/Myndex/apca-w3/commit/36fda7ec86f9dedb1ae4587b0280898c1a7d3da8) to add a trademark symbol to the APCA name.  The commit message was _Link to discussions area_ which seems unrelated to this change

A search on [the WIPO Global Brand Database](https://branddb.wipo.int/brandd

[2022-07-22 05:56] xi opened #651 "APCA is very similar to WCAG 2.x contrast with a higher value for ambient light"
I wrote a detailed analysis of APCA here: https://github.com/xi/apca-introduction/blob/main/analysis.md

The main result was that APCA is not actually that different than WCAG 2.x if you change the ambient light value from 0.05 to something like 0.4. By not removing polarity and adding some scaling you also get very similar developer ergonomics, e.g. like this:

[code]

This approach has two main

[2022-07-26 19:45] Myndex commented on #651
Hi @xi

I am reviewing your analysis, and as an initial statement, I do not agree with your assessment. The use of a 0.4 addition to clamp the Weber is a reverse engineering of the perception curves we developed, which are firmly rooted in vision science, CAMs, and our empirical studies here in our lab—studies that are continuing and that will be part of up coming papers.

**I DO want to say that

[2022-07-26 20:56] Myndex commented on #648
Hi Chris @svgeesus

There are two forms of trademark, ™ and ® and neither one is _required_ to be affixed, doing so only indicates the intention to protect (i.e. intention to take legal actions). Similar to how a copyright notice is not _actually_ needed, _(however, in the case of copyright it's automatic at creation + affixation to physical medium.)_

The ™ has been on a lot of the APCA™ related

[2022-07-27 01:03] Myndex commented on #651
This part is really bothering me, so I am going to address it as well:

"Weber" is not a "standard", and sRGB is no longer the sole color space either. There are now multiple color spaces that need to be considered and _adjusted for._

The "single parameter to adjust" is spurious. Visual perception does not work that way, and that approach is not perceptually uniform.

Here though is a key point:

[2022-07-27 10:42] svgeesus commented on #648
I think the usual way to deal with that situation is to have test cases. In this case, a bunch of (foreground, background) color pairs and the expected correct L<sup>c</sup> for each pair (in the order specified).

The issue is that APCA is not an in-browser technology so this wouldn't be suitable for Web Platform Tests (WPT). But I would certainly like to see such tests, especially as I [recently

[2022-07-28 02:54] Myndex commented on #648
Hi @svgeesus

Just as an FYI, the those tests are in the [apca-w3 repo,](https://github.com/Myndex/apca-w3) and the npm package apca-w3

[2022-07-28 11:57] svgeesus commented on #648
Cheers, I put them into the color.js tests. My implementation passes all except the last one:

[code]

For text=#234 and bg=#444 I get 0, not -7.526878460278154

![image](https://user-images.githubusercontent.com/2506926/181499193-d2a21e2e-4b13-457e-9502-265fbb098a43.png)

So does [your APCA contrast calculator](https://www.myndex.com/APCA/?BG=444444&TXT=223344&DEV=G4g&BUF=A22) would you mind chec

[2022-07-28 12:40] svgeesus commented on #648
Also that last test result cannot be right because the L<sup>c</sup> is negative so the text must be lighter. Swapping them round so text=#444 and bg=#123 I still get 0 on your APCA tool but -7.527 on [SAPC](https://www.myndex.com/SAPC/) implying these are using different constants or a different algorithm in some way.

So what I think happended here is:

- the text and background colors got swapp

[2022-07-28 23:51] Myndex commented on #651
On closer inspection, this individual's "analysis" is full of misleading statements and misdirection. Importantly, he substantially alters the APCA math and ignores the core methods. The examples he provides ignore important spatial frequency considerations.

At the opening of this analysis, he states (emphasis added):

Not certain what the point of his "analysis" then is, as it is making inapprop

[2022-07-28 23:58] Myndex commented on #651
And a final comment:

I have been open about the math for the basic algorithm from the beginning. Doing so obviously opens up the floor for people like xi to reverse engineer it.

But it is important to consider that simply reverse engineering the needed curves does not demonstrate how to create those curves in the first place. And this is critical for adapting to mew colorspaces and environments.

[2022-07-29 00:13] Myndex commented on #648
DOH!

Hi @svgeesus  thank you for catching this... yea, that's not correct...

#123 and #444 were intended to be just above the clamp IIR... so lemme see what up there...

[2022-07-29 00:29] Myndex commented on #648
Okay @svgeesus I see hat happened... the #234 was from an earlier version, and that last test should have been

#444 (text) and #123 (BG) this reports as -7.5 on the APCA tool at https://www.myndex.com/APCA/

Sorry for any confusion, I'm looking through the docs now to see if it is listed this way anyplace else...

[2022-07-29 04:28] xi commented on #651
I am sorry if you don't find my analysis helpful.

Please note that I do not propose to actually use the fomula I posed above. I reverse engineered APCA to better understand it and found that a big part (but not all) of the difference to WCAG 2.x goes away if you apply some scaling and use a different value for ambient light flare. I thought that was an interesting observation and wanted to share

[2022-07-29 15:48] Myndex commented on #648
Also, this is a documentation error, it was correct in the automated test scripts.

[2022-07-29 16:50] Myndex commented on #651
It was not at all helpful, and multiple, valid, comparative analysis have been conducted by third parties more aware of vision science. I encourage more analysis, but you can not abstract out the key aspects of the methods as you have, and then claim it is an "analysis".

??? Excuse me? That is _EXACTLY_ what you did above in the first post.

First, as myself and others pointed out in [the other t

[2022-07-30 12:54] alastc commented on #651
In general I can see three useful forms of evaluation/analysis for contrast formulas:

1. Mathematically based, boiling them down to the smallest form and examining the differences.
2. Vision science based, using previous research to assess their effectiveness.
3. Research based, getting real people to evaluate contrast pairs and seeing how well they correlate to the formula(s).

@xi has taken a m

[2022-07-30 20:23] Myndex commented on #651
Thank you @alastc just in case it's not clear, some of the motivation of my comments come from the information posted at his repo on this subject.

A mathematically based comparison may be of some utility, but in xi's case, he is not doing a comparison of APCA to WCAG 2 as he says he is. He has grossly modified WCAG 2 to minimize the discrepancy to 20% and then claiming this as a valid assessment.

[2022-08-04 04:28] xi commented on #651
I found a paper that explained a lot of things to me. This is probably old news to most of you, but for me it was a major breakthrough. I will quote a whole section so that others can benefit from it, too:

So historically there have been two different approaches to convert luminance to perceptual lightness: WCAG2 is based on the older, `log`-based approach. APCA is based on the newer, `pow`-based

[2022-08-04 20:39] Myndex commented on #651
@xi

You are missing most of the science here, and you are not citing a primary resource, your link just someone's thesis. If someone is "feeding you" information, they are misleading you.

Again, I have organized the documentation for easy access at [git.myndex.com](https://git.myndex.com) as a suggesting, start by reading *everything* and the associate4d bibliographies at the white paper. You co

[2022-08-04 21:10] rachaelbradley commented on #651
The chairs are temporarily locking this thread. We will reopen it next week.

[2022-08-07 09:50] Myndex commented on #647
## Guideline blocker
Aural contrasts are very complicated. It is not as simple as stating that one sound must be some number of decibels above some other sound. The frequencies and dynamic characteristics are also significant factors. An individual's gender and cognitive capabilities are significant factors, as are impairments that affect frequency sensitivity, and monaural/binaural function.

Als

[2022-08-08 05:58] Myndex commented on #647
In the interest of exploring these ideas further, I've set up a repo for the [Aural Accessibility Research Project](https://github.com/Myndex/AuralAccessibility)

[![Aural Accessibility Research Project Logo](https://user-images.githubusercontent.com/42009457/183349102-004b0167-2848-4ab3-8937-f4ced6549cb1.png)](https://github.com/Myndex/AuralAccessibility)

[2022-08-30 16:20] alastc opened #655 "Requriements - 4.7 updates"
From a meeting (30/08/2020) there were a couple of question about requirement 4.7:

It didn't seem like scoring was the only way to meet this, so perhaps would be better as:
"The Guidelines motivate organizations to go beyond minimal accessibility requirements by providing a model that rewards organizations which demonstrate a greater effort to improve accessibility."

[2022-09-11 03:14] tonymichel1986 opened #660 "tonymichel19866@outlook.com"

[2022-09-22 16:22] bruce-usab commented on #584
Suggestion considered and declined for current tutorial per conversation in https://github.com/w3c/wai-tutorials/pull/635 which I am okay with.   @lauracarlson can we close this issue?

[2022-09-25 10:56] lauracarlson commented on #584
Hi Bruce @bruce-usab,

Thank you for your efforts. I suggest that we keep the issue open for the full AG Working Group to consider. Although EO decided not to correct the definition tutorial, I don't think WCAG 3 should perpetuate the issue with including the [incorrect examples](https://github.com/w3c/silver/issues/584#issuecomment-1015511409).

Kind Regards,
Laura

[2022-10-11 08:01] Seirdy commented on #625
I was misinformed; I was using the one built into Chromium's DevTools,
which doesn't flag excessive contrast. I've since used the online
version to much better results. Great work!

I do think that it's worth remembering that yellow is a "harsh" color,
and can cause overstimulation if it isn't de-saturated. It doesn't help
that it's associated with warnings and errors. Blue in dark themes needs
to

[2022-10-11 14:27] Myndex commented on #625
Hi @Seirdy

As you know I do agree with much of this, it was presented in the text the Visual Contrast group developed for WCAG 3, and it _is_ mentioned at least tangentially in the [WCAG3 FPWD](https://www.w3.org/WAI/GL/WCAG3/2021/how-tos/visual-contrast-of-text/#get-started-button) though some of the topic was deleted or reduced by the editors before publication in the interest of brevity.

Neve

[2022-10-11 20:12] Seirdy commented on #625
Weird, I sent these responses months ago but they only just showed up.

Basically, for dark themes, blue and yellow have very different problems but very similar solutions:

Blue is too dark for dark-theme foregrounds/light-theme backgrounds, hurting perceptual contrast. If you use blue in these situations, you should de-saturate it by increasing the proportion of other channels (red and green) wi

[2022-10-11 20:40] Seirdy commented on #625
Also, regarding personalization: although I agree, I also think it's really important to make defaults maximally inclusive. Fingerprinting-averse users, people borrowing another device, and people under overly-strict enterprise policies are unable to fully leverage personalization. Tor Browser users come to mind.

If you use assistive technologies, you're probably already a bit fingerprintable; sm

[2022-10-20 12:45] #660 closed

[2022-11-21 02:03] DAIDAOXING commented on #466
TODO DIRECTO A CUENTA REAL DE DAI ACTIVACION UNICO SOLO DAOXING. TARJETA MASTE CARD ♦️♦️♦️
5320 1743 0211 9495
O
TARJETA MASTER CARD
4188 2021 1688 8882
UNICO CORREOS ELECTRONICOS DE PRESIDENT CEO TAN BIEN DIRECTOR DE PAYMENT PARA GESTIONAR TODO REDES SOCIALES : DAOXINGDAIUNICO@GMAIL.COM
NOMBRE:DAI DAOXING
EMPRESA PRINCIPAL:DAI GLOBAL SA
EMPRESA EN REDES SOCIALES:DAI GLOBAL BUSINESS SA
EMPRESA PAR

[2022-11-21 02:06] DAIDAOXING commented on #509
5320 1743 0211 9495
O
TARJETA MASTER CARD
4188 2021 1688 8882
UNICO CORREOS ELECTRONICOS DE PRESIDENT CEO TAN BIEN DIRECTOR DE PAYMENT PARA GESTIONAR TODO REDES SOCIALES : DAOXINGDAIUNICO@GMAIL.COM
NOMBRE:DAI DAOXING
EMPRESA PRINCIPAL:DAI GLOBAL SA
EMPRESA EN REDES SOCIALES:DAI GLOBAL BUSINESS SA
EMPRESA PARA GESTIONAR UNICO :DAI GLOBAL BANK DIGITAL
NIE:5800505C
PASAPORTE DE CHINA :E44167604
UNICO

[2022-11-22 13:57] Chanvannak52 opened #664 "s57o2modawh7bibnfevqhhnmpanx26y7i77dcd7a"

[2022-11-30 18:10] #664 closed